[submodule "target/mvn-repo/release"]
	path = target/mvn-repo/release
	url = https://git.noc.fh-aachen.de/mazenet/maven-repo.git
	branch = release
[submodule "target/mvn-repo/snapshot"]
	path = target/mvn-repo/snapshot
	url = https://git.noc.fh-aachen.de/mazenet/maven-repo.git
	branch = snapshot
